<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ftpSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vuc0009/Zodiac%20Server%202/ftp.asmx"
                binding="basicHttpBinding" bindingConfiguration="ftpSoap"
                contract="FTPWebService.ftpSoap" name="ftpSoap" />
        </client>
    </system.serviceModel>
</configuration>